.home-wrapper {
    display: flex;

    &__side-nav {
        width: 15%;
        height: 100vh;
        overflow-y: auto;
        transition: 0.3s;
        text-transform: capitalize;
        background-color: #fff;
        position: sticky;
        top: 0;

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            width: 33%;
        }

        @media only screen and (min-device-width: 1025px) and (max-device-width: 1500px) {
            width: 20%;
        }

        .side-nav-header {
            display: flex;
            justify-content: center;
            grid-gap: 0.5em;
            border-bottom: 1px solid #e7ecef;
            padding: 1.7em;

            @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                :nth-child(2) {
                    display: none;
                }
            }
        }

        .nav-links {
            padding: 33px 20px;

            @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                padding: 33px 0;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    margin: 10px 0;
                    padding: 10px;
                    cursor: pointer;
                    color: #ACB8C1;
                    font-weight: 600;

                    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                        padding: 10px 15px;
                    }

                    a {
                        margin: 4px;
                        text-decoration: none;
                        display: flex;
                        align-items: center;

                        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                            span {
                                display: none;
                            }
                        }

                        .nav-icon {
                            margin-right: 12px;
                            height: 30px;
                            width: 30px;
                        }
                    }
                }

                .active {
                    color: #0D1D28;
                    background-color: #fcd400;
                    border-radius: 8px;

                    .nav-icon {
                        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(1%) contrast(119%);
                    }

                    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                        color: #fcd400;
                        background-color: transparent;
                        border-radius: 0;
                    }
                }
            }
        }
    }

    &__content {
        width: 85%;

        header {
            display: flex;
            height: 5em;
            background-color: #fff;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
            backdrop-filter: blur(36px);
            margin-bottom: 2em;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            position: sticky;
            top: 0;
            z-index: 1;

            @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                padding: 0 5px;
            }

            .status {
                display: flex;
                align-items: center;
                padding: 8px 16px;
                background-color: #f2f5f8;
                border: 1px solid #d2d9de;
                border-radius: 8px;

                span {
                    font-size: 14px;
                    font-weight: 500;
                    margin-right: 0.5em;
                    color: #0D1D28;
                }
            }

            .parent-child {
                p {
                    font-size: 12px;
                    font-weight: bolder;

                    .online-count {
                        color: #04a971;
                    }
                    .offline-count {
                        color: #ff0039;
                    }
                }
            }

            .right-menu {
                display: flex;
                grid-gap: 2em;
                align-items: center;

                @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                    grid-gap: 1em;
                }

                .upgrade-button {
                    color: #0d1d28;
                    background-color: #fdf2cc;
                    border: 1px solid #fcd400 !important;
                }

                .notification-badge {
                    position: absolute;
                    top: -11px;
                    right: -11px;
                    width: 20px;
                    height: 20px;
                    background-color: red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 12px;
                    color: #fff;
                }

                img {
                    cursor: pointer;
                }              
            }
        }

        .sub-header {
            margin-top: -2em;
            margin-bottom: 2em;
            padding: 1em 1em;
            background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
            .fs-14 {
                font-size: 14px;
            }

            .outlet-name {
                color: #04a971;
            }
        }
    }
}

input[type="checkbox"][role="switch"] {
    appearance: none;
    box-sizing: content-box;
    cursor: pointer;
    width: 37px;
    height: 18px;
    background-color: #939da2;
    border-radius: 34px;
    transition: all 300ms ease;
}

input[type="checkbox"][role="switch"]:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: translate(2px, 2px);
    background-color: #fff;
    transition: all 300ms ease;
}

input[type="checkbox"][role="switch"].on {
    background-color: #04a971;
}

input[type="checkbox"][role="switch"].on:after {
    transform: translate(21px, 2px);
}

.notification-card {
    .notification-time {
        font-size: 12px;
        color: #939da2;
    }

    .notification-status {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1px solid #0052CC;
    }

    .notification-status--unread {
        background-color: #0052CC;
    }

    .notification-body {
        font-size: 14px;
        color: #6d7e8b;
    }
}

.notification-load-more {
    border: 1px solid #6d7e8b;
    border-radius: 12px;
}

::ng-deep .parent-child-matmenu.mat-menu-panel {
    margin-top: 2em !important;
}

.parent-outlet-tag {
    color: #0d6efd;
    font-size: 10px;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 50px;
    border:  1px solid #0d6efd;
}

.outlets-dropdown {

    .buttons--grey {
        font-size: 10px;
        background: #acb8c1;
        padding: 0 10px;
        color: #fff;
        border: none !important;
    }

    .buttons--green {
        font-size: 10px;
        background: #04a971;
        padding: 0 10px;
        color: #fff;
        border: none !important;
    }
}

.dropdown-items{
    &:hover,
     &:focus {
     color: #16181b;
     background-color: #fcd400;
     border-radius: 5px;
    }
}