<div class="login-main">
    <div class="login-wrapper d-flex justify-content-center align-items-center">
        <div class="box-form">
            <!--update password form -->
            <div class="login-form">
                <!-- form heading and logo -->
                <app-form-header></app-form-header>

                <!-- update password form -->
                <form [formGroup]="updatePasswordForm" autocomplete="off" class="login-form-details">
                    <section class="login-form-details__input-data">
                        <!-- email field for forgot password form -->
                        <label class="input-heading" for="">Enter New Password</label>
                        <div class="input-field">
                            <mat-form-field class="custom-newPassword-field" appearance="outline">
                                <input matInput formControlName="newPassword" [type]="fieldTextType ? 'text' : 'password'"
                                    placeholder="Enter new password" />
                                    <mat-icon matSuffix *ngIf="passwordControlContainsData()" (click)="fieldTextType = !fieldTextType">{{fieldTextType ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            <app-form-error-msg [control]="updatePasswordForm.controls.newPassword">
                            </app-form-error-msg>
                        </div>
                        <label class="input-heading" for="">Re-enter New Password</label>
                        <div class="input-field">
                            <mat-form-field class="custom-reEnterNewPassword-field" appearance="outline">
                                <input matInput formControlName="reEnterNewPassword" type="password"
                                    placeholder="Re-enter new password" />
                            </mat-form-field>
                            <app-form-error-msg [control]="updatePasswordForm.controls.reEnterNewPassword">
                            </app-form-error-msg>
                        </div>
                    </section>

                    <!-- button to proceed further after updating password -->
                    <button class="buttons active-button h-3 mt-3" mat-button (click)="resetPassword()">
                        UPDATE PASSWORD</button><br />
                </form>
            </div>
        </div>

        <!-- footer for login and forgot password form -->
        <app-footer></app-footer>
    </div>
</div>