<div class="login-main">
    <div class="login-wrapper d-flex justify-content-center align-items-center">
        <div class="box-form">

            <!-- forgot password form -->
            <div class="login-form">

                <!-- form heading and logo -->
                <app-form-header></app-form-header>

                <!-- forgot password form -->
                <form [formGroup]="forgotPasswordForm" autocomplete="off" class="login-form-details">
                    <section class="login-form-details__input-data">

                        <!-- login id field for forgot password form -->
                        <label class="input-heading" for="">Enter Login Id</label>
                        <div class="input-field">
                            <mat-form-field class="custom-loginId-field" appearance="outline">
                                <input matInput formControlName="userLoginId" type="" placeholder="Enter Login Id" />
                            </mat-form-field>
                            <app-form-error-msg [control]="forgotPasswordForm.controls.userLoginId">
                            </app-form-error-msg>
                        </div>

                    </section>

                    <!-- button to proceed further after details verification -->
                    <button class="buttons active-button h-3 mt-3" mat-button (click)="sendLoginId()">SEND OTP</button><br />

                    <!-- sign in link and send verification code details on forgot password form -->
                    <a (click)="navigateToLoginPage()">
                        SIGN IN</a>
                    <div class="send-code-message mt-4 d-flex justify-content-center align-items-center">
                        <b>
                            <h6>
                                We’ll text you a verification code to confirm your account.
                            </h6>
                        </b>
                        <p>Standard message and data charges may apply.</p>
                    </div>

                </form>
            </div>
        </div>

        <!-- footer for login and forgot password form -->
        <app-footer></app-footer>
    </div>
</div>