<section class="view-poc-dialog-wrapper">
    <div class="view-poc-dialog-wrapper__details">

        <!-- header and name of POC Sales POC -->
        <div class="view-poc-dialog-wrapper__details__header d-flex flex-column">
            <div class="d-flex justify-content-between align-items-baseline">
                <h3><b>POC</b></h3>
            </div>
            <label class="title mt-2">
                For help related to sales, growth and offer features on the app, you may get in touch with the following
                person.
            </label>
            <label class="name"><b>Saurav Roy</b></label>
        </div>

        <!-- contact number and email address of Sales POC -->
        <div class="view-poc-dialog-wrapper__details__contact-details d-flex flex-column">
            <div class="view-poc-dialog-wrapper__details__contact-details__contact d-flex">
                <img class="me-2" src="assets/icons/telephone-grey-icon.svg" alt="telephone icon">
                <div class="view-poc-dialog-wrapper__details__contact-details__contact__poc d-flex flex-column">
                    <label class="poc-title">Sales POC Mobile</label>
                    <label class="poc-detail"><b>+91 7700916917</b></label>
                </div>
            </div>
            <div class="view-poc-dialog-wrapper__details__contact-details__contact d-flex">
                <img class="me-2" src="assets/icons/mail-icon.svg" alt="telephone icon">
                <div class="view-poc-dialog-wrapper__details__contact-details__contact__poc d-flex flex-column">
                    <label class="poc-title">Sales POC Email</label>
                    <label class="poc-detail"><b>saurav.roy@speedyy.com</b></label>
                </div>
            </div>
            <div class="view-poc-dialog-wrapper__details__contact-details__contact d-flex">
                <img class="me-2" src="assets/icons/mail-icon.svg" alt="telephone icon">
                <div class="view-poc-dialog-wrapper__details__contact-details__contact__poc d-flex flex-column">
                    <label class="poc-title">Escalation Email</label>
                    <label class="poc-detail"><b>xyz@speedyy.com</b></label>
                </div>
            </div>
        </div>

        <!-- footer of Sales POC with call support and drop an email buttons -->
        <div class="view-poc-dialog-wrapper__details__footer d-flex flex-column mt-4">
            <label>
                For any other queries, please contact partner support.</label>
            <div class="d-flex">
                <button mat-button class="buttons active-button border me-3 w-100 h-3">CALL SUPPORT</button>
                <button mat-button class="buttons active-button border w-100 h-3">DROP AN EMAIL</button>
            </div>
        </div>
    </div>
</section>