// Colors (TODO: Update with your app specific colors)
$primary-color: #0095FF;
$success-color: #36B37E;
$error-color: #FF6A6A;

//Shadow (TODO: Update with your app specific shadow)
$shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);

// Font colors (TODO: Update with your app specific shadow)
$black: rgba(29, 33, 41, 1); // #1D2129
$light: rgba(29, 33, 41, 0.6);
$lighter: rgba(29, 33, 41, 0.4);
$disabled: rgba(29, 33, 41, 0.2);
$white: #fff;

// Border (TODO: Update with your app specific shadow)
$border-color: #caccd1;
$radius-3: 3px;

// Spacers
$spacer-8: 8px;
$spacer-16: 16px;
$spacer-24: 24px;
$spacer-48: 48px;
$spacer-64: 64px;
