<div class="modal hide drawer right-align" id="addNewAddOnModalRight" role="dialog" aria-labelledby="addNewAddOnModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title border-0 text-uppercase">{{modalData.actionType}} Add-On</label>
                <mat-icon (click)="close()" data-dismiss="modal">close</mat-icon>
            </div>
            <div class="modal-body">
                <form [formGroup]="addonActionForm">
                    <header>
                        <label><b>Kindly fill up the basic details to continue !!!</b></label>
                    </header>
                    <!-- form input fields -->
                    <div class="input-details mt-5">
                        <label class="input-heading">Group Name</label>
                        <ng-select formControlName="addonGroupId" [items]="addonGroupList" bindValue="addonGroupId" bindLabel="addonGroupName" placeholder="Select Add-On Group">
                        </ng-select>
                        <app-form-error-msg [control]="addonActionForm.controls.addonGroupId"></app-form-error-msg>
                    </div>
                    <div class="input-details mt-3">
                        <label class="input-heading">ADD-ON NAME</label>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="addonName" type="text" placeholder="Enter name" />
                        </mat-form-field>
                        <app-form-error-msg [control]="addonActionForm.controls.addonName"></app-form-error-msg>
                    </div>
                    <div class="input-details mt-3">
                        <label class="input-heading">SELECT ITEM TYPE</label>
                        <ng-select formControlName="foodType" [items]="foodTypes | keyvalue: originalOrder" bindValue="key" bindLabel="value" placeholder="Select item type">
                        </ng-select>
                        <app-form-error-msg [control]="addonActionForm.controls.foodType"></app-form-error-msg>
                    </div>
                    <div class="input-details mt-3">
                        <label class="input-heading">ADDITIONAL PRICE (&#8377;)</label>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="addonPrice" type="text" placeholder="Enter price" appAllowTwoDecimalNumbers />
                        </mat-form-field>
                        <app-form-error-msg [control]="addonActionForm.controls.addonPrice"></app-form-error-msg>
                    </div>
                    <div class="input-details mt-3">
                        <label class="input-heading">Is GST Inclusive?</label>
                        <ng-select formControlName="isGstInclusive" [items]="flags" bindValue="id" bindLabel="name" placeholder="Select GST Type" (change)="gstSelectionChange()"></ng-select>
                        <app-form-error-msg [control]="addonActionForm.controls.isGstInclusive"></app-form-error-msg>
                    </div>
                    <div class="input-details mt-3">
                        <label class="input-heading">GST RATE (%)</label>
                        <mat-form-field appearance="outline">
                            <input class="w-75" matInput formControlName="gst" type="text" placeholder="Enter GST rate" appAllowTwoDecimalNumbers />
                            <span matSuffix>%</span>
                        </mat-form-field>
                        <app-form-error-msg [control]="addonActionForm.controls.gst"></app-form-error-msg>
                    </div>
                    <div class="d-flex mt-5">
                        <button type="button" mat-button class="buttons w-100 h-3 me-3" (click)="close()">DISMISS
                        </button>
                        <button type="button" mat-button class="buttons active-button w-100 h-3" (click)="submitAddon()" *ngIf="!modalData.disableAll">{{isAddAddon ? 'ADD' : 'SAVE'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>