<footer class="footer-links">

    <!-- social links on footer -->
    <section class="footer-links__social-links">
        <img class="footer-logo" src="assets/styles/media/footerImg.svg" alt="Speedyy Logo" />
        <a href="https://www.speedyy.com/" target="_blank">About Us</a>
        <a href="mailto:customercare@speedyy.com">Contact Us</a>
        <a href="mailto:customercare@speedyy.com">Help</a>
    </section>

    <!-- download app links on footer -->
    <section class="footer-links__download-links d-flex align-items-center">
        <p class="m-0 d-none d-lg-block d-xl-block">Download the app</p>
        <a href="https://play.google.com/store/apps/details?id=com.speedyy.speedyyvendorapp" target="_blank">
            <img class="play-store" src="assets/styles/media/playStore.png" alt="Playstore Link" />
        </a>
        <a href="https://apps.apple.com/us/app/speedyy-partner/id1638384501" target="_blank">
            <img class="app-store" src="assets/styles/media/appStore-cropped.svg" alt="AppStore Link" />
        </a>
    </section>

</footer>