.dialog-wrapper {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    width: 400px;

    .message {
        font-size: 24px;
        font-weight: 600;
        margin: 40px 0;
    }

    .status {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 12px;
        text-transform: uppercase;

        &__heading {
            color: #6d7e8b;
            font-weight: 400;
            font-size: 0.75em;
            letter-spacing: 1px;
        }

        &__text {
            color: #ea7407;
            font-size: 0.8em;
            background-color: rgba(234, 116, 7, 0.1);
            border-radius: 4px;
            padding: 5px 8px;

            .img {
                vertical-align: sub;
                width: 1.3em;
                height: 1.3em;
            }
        }
    }
}
