main {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 90%;
    .change-password-wrapper {
        width: 40%;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .box-form {
            background: #fff;
            overflow: hidden;
            display: flex;
            flex: 1 1 100%;
            border-radius: 45px;
            align-items: stretch;
            justify-content: space-between;
            max-height: -moz-fit-content;
            max-height: fit-content;

            .change-password-form {
                padding: 50px;
                overflow: hidden;
                display: flex;
                width: 100%;
                height: auto;
                flex-direction: column;

                img {
                    width: 25%;
                    height: 40%;
                }
            }
        }
    }
}
