<main>
    <div class="change-password-wrapper">
        <div class="box-form">
            <section class="change-password-form">
                <header class="d-flex flex-column align-items-center gap-3">
                    <img  src="assets/styles/media/logo.svg" alt="Logo" />
                    <h3>Change Password</h3>
                </header>
                <form [formGroup]="changePasswordForm">
                    <div class="input-details">
                        <label class="input-heading" for="password">Old Password</label>
                        <div class="input-password-field">
                            <mat-form-field class="custom-password-field" appearance="outline">
                                <input matInput formControlName="oldPassword" [type]="oldPassInputType ? 'text' : 'password'" placeholder="Enter old password" />
                                <mat-icon *ngIf="changePasswordForm.get('oldPassword').dirty" matSuffix (click)="oldPassInputType = !oldPassInputType">{{oldPassInputType ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                            </mat-form-field>
                            <app-form-error-msg [control]="changePasswordForm.controls.oldPassword">
                            </app-form-error-msg>
                        </div>
                    </div>
                    <div class="input-details">
                        <label class="input-heading" for="password">New Password</label>
                        <div class="input-password-field">
                            <mat-form-field class="custom-password-field" appearance="outline">
                                <input matInput formControlName="newPassword" [type]="newPassInputType ? 'text' : 'password'" placeholder="Enter new password" />
                                <mat-icon *ngIf="changePasswordForm.get('newPassword').dirty" matSuffix (click)="newPassInputType = !newPassInputType">{{newPassInputType ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                            </mat-form-field>
                            <app-form-error-msg [control]="changePasswordForm.controls.newPassword">
                            </app-form-error-msg>
                        </div>
                    </div>
                
                    <div class="input-details">
                        <label class="input-heading" for="password">Re-enter New Password</label>
                        <div class="input-password-field">
                            <mat-form-field class="custom-password-field" appearance="outline">
                                <input matInput formControlName="repeatNewPassword" type="password" placeholder="Re-enter new password" />
                            </mat-form-field>
                            <app-form-error-msg [control]="changePasswordForm.controls.repeatNewPassword">
                            </app-form-error-msg>
                        </div>
                    </div>
                    <button mat-button type="button" class="buttons active-button w-100 h-3 mt-3" (click)="updatePassword()">
                        Update Password
                    </button>
                </form>
            </section>
        </div>
    </div>
</main>