<div class="modal hide drawer right-align" id="helpModalRight" role="dialog" aria-labelledby="helpModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="modal-title border-0" id="exampleModalLabel">Help</label>
        <mat-icon (click)="close()" data-dismiss="modal">close</mat-icon>
      </div>
      <div class="modal-body">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Where is the delivery executive</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate similique minus inventore iure ullam explicabo dicta, accusamus ea! Itaque fugit eveniet sapiente modi explicabo fuga eum? Dignissimos tenetur asperiores expedita.   
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>How do I call customer in case of item out of stock?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate similique minus inventore iure ullam explicabo dicta, accusamus ea! Itaque fugit eveniet sapiente modi explicabo fuga eum? Dignissimos tenetur asperiores expedita.   
            </div>
          </mat-expansion-panel>

          <div class="d-flex">
            <button mat-button class="buttons active-button" (click)="close()">back</button>
          </div>
      </div>
    </div>
  </div>
</div>